/*=======================================================*/
/* primary ==============================================*/
/*=======================================================*/
* {
	padding: 0;
	margin: 6;
	list-style-type: none;
	font-weight: normal;
	text-decoration: none;
}
h1 {
}
h2 {
}
h3 {
}
p {
	margin-bottom:10px;
}
a {
	color: #000;
}
a:link, a:visited,  a:hover, a:active, a:focus {
}
a:hover, a:active, a:focus {
	outline: none;
}
img {
	outline: none;
	border: none;
}
form {
}
textarea {
	resize: none;
}
input {
}
body {
	color: #000;
	font-family: "Tw Cen Mt", tahoma, arial;
}
/*=======================================================*/
/* Wrapper */
/*=======================================================*/
#wrapper {
	width: ;
	height: ;
}
/*=======================================================*/
/* header */
/*=======================================================*/
#header {
	width: 100%;
	height: 60px;
	background-color: blue;
}
#header h1 {
	text-indent: -9999px;
}
/*=======================================================*/
/* navigation */
/*=======================================================*/
#nav {
	width: ;
	height: ;
}
#nav a:hover {
	color: #fff;
}
#nav ul li {
	float: left;
	margin: ;
}
/*=======================================================*/
/* sub_nav */
/*=======================================================*/
#subnav {
	width: ;
	height: ;
}
/*=======================================================*/
/* content */
/*=======================================================*/
#content {
	width: ;
	height: ;
}
/*=======================================================*/
/* footer */
/*=======================================================*/
#footer {
	width: ;
	height: ;
}
address {
	text-align: center;
}
/*=======================================================*/
/*=======================================================*/